<%= form_with(model: purchase, url: {action: "create"}) do |form| %>
    <% if purchase.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
        <ul>
          <% purchase.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form-outline mb-3">
      <%= form.text_field :name, type: "text", placeholder: "name", class: "form-control" %><br />
      </div>
      <div class="form-outline mb-3">

      <%= form.text_field :amount, type: "number", placeholder: "Amount", class: "form-control" %><br />
             </div>
    
      <%= form.submit "Add Purchase" , class: "btn btn-success"%>
    
       
   <% end %>

  

