

<table class="table">
<tbody>
<tr>
<td ><%=image_tag "#{category.icon}" , class: "img" %></td>
<td ><strong><%= link_to category.name , category_purchases_path(category_id: category.id) , class: "nav-link text-black" %><strong></td>
<td><%= category.total_purchases %></td>
<td> $<%= category.total_purchases_amount %></td>
<td>

 <%= button_to 'Remove',
      category_path(category),method: :delete,
      class: "btn btn-danger" %> </td>

</tr>
</tbody>
</table>
